* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $font;
}
h1,h2,h3,h4,h5,h6,p{
    letter-spacing: 0;
}
.h-1{
    font-size: 70px;
    @media (max-width:600px){
        font-size: 30px;
    }
}
.accordion-button{
    background-color: $light;
}
