$blue:#1E5AFA;
$white:#ffffff;
$green:#2DA771;
$grey:#5F7285;
$light:#FAFAFA;
$light-black:#3131310D;
$border:#E7EBEE;
$black:#000000;
$shadow:#e4e4e4;
$button:rgb(255 255 255 / 25%);

$font:'Inter';